<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Model.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Model.Properties.Settings>
            <setting name="ip" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="user" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="dataBase" serializeAs="String">
                <value>testdb</value>
            </setting>
            <setting name="password" serializeAs="String">
                <value>rootme</value>
            </setting>
        </Model.Properties.Settings>
    </userSettings>
</configuration>